* {
    box-sizing: border-box
}

body {
    font-family: "Roboto Flex", sans-serif;
}

form {
    max-width: 380px;
    margin: auto;
}

p {
    margin: 0;
}

fieldset {
    border: 1px solid black;
    padding: 5px 10px;
    margin: 10px 0;
}

fieldset div {
    margin: 5px;
}

.inline {
    margin: 0;
    display: inline-block;
}

input {
    margin: 3px 10px 0 0;
}

.address-input {
    display: flex;
}

.address-input label {
    margin: 0 4px 0 0;
}

input[type="range"] {
    display: block;
    margin: 0 5px;
    width: 230px;
}

datalist {
    display: flex;
    width: 240px;
    justify-content: space-between;
}

option {
    font-size: 0.8rem;
}

.disabled-option {
    display: none;
}

.button, button {
    font-size: initial;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    margin: 0 3px;
    color: black;
    border: 2px solid black;
    background-color: white;
    border-radius: 6px;
}

.button:hover, button:hover {
    background-color: lightgray;
}

.button:active, button:active {
    background-color: gray;
}