* {
    box-sizing: border-box
}

form {
    max-width: 380px;
    margin: auto;
}

fieldset {
    border: 1px solid black;
    padding: 5px 10px;
    margin: 10px 0;
}

fieldset div {
    margin: 5px;
}

fieldset div input {
    margin: 0 10px 0 0;
}

.button {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 3px;
    color: black;
    border: 2px solid black;
    border-radius: 6px;
    text-decoration: none;
}

.address-input {
    display: flex;
}

.address-input label {
    margin: 0 4px 0 0;
}