* {
    box-sizing: border-box
}

form section {
    border: 1px solid black;
}

.button {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 3px;
    color: black;
    border: 2px solid black;
    border-radius: 6px;
    text-decoration: none;
}

.form-section {
    padding: 5px 10px;
    margin: 10px 0;
}

.form-section div {
    margin: 5px;
}

.form-section div input {
    margin: 0 10px 0 0;
}

.form {
    max-width: 380px;
}

.address-input {
    display: flex;
}

.address-input label {
    margin: 0 4px 0 0;
}