body {
    font-family: "Roboto Flex", sans-serif;
}

p {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 128px;
    margin: 0 16px;
}

.brands-list {
    padding: 0;
}

.brands-list li {
    display: inline;
    margin: 0 16px;
}

.brands-list a {
    color: black;
    text-decoration: none;
    font-size: 2em;
}

main {
    margin: auto;
    max-width: 80%;
}

main hr {
    width: 70%;
}

h1 {
    text-align: center;
    margin: 16px 0;
    font-size: 3em;
}

.brand-heading-wrapper {
    display: flex;
    align-items: center;
    margin: 8px;
    font-size: 2em;
}

h2 {
    margin: 0;
}

.brand-heading-wrapper img {
    margin-right: 10px;
    width: 32px;
}

.link-top {
    color: black;
}

.link-top-wrapper {
    text-align: center;
}

.history {
    margin-bottom: 16px;
}

h3 {
    text-align: center;
    font-size: 1.6em;
    margin: 6px;
}

.models {
    margin-bottom: 16px;
}

.models h4 {
    font-size: 1.3em;
    margin: 6px 0;
}

.models article {
    margin-bottom: 10px;
}

.reviews {
    margin-bottom: 16px;
}

.reviews-content {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}

.reviews-content li {
    max-width: 23%;
}

footer {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

address {
    font-style: normal;
}

table {
    border: 1px solid black;
    margin: auto;
}

th, td {
    border: 1px solid black;
    padding: 5px 10px;
    font-size: 1.3em;
}

.cars-info-table {
    text-align: center;
}

.cars-info-table h2 {
    margin-bottom: 8px;
}

form section {
    border: 1px solid black;
}

.button {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 3px;
    color: black;
    border: 2px solid black;
    border-radius: 6px;
    text-decoration: none;
}

.form-section {
    padding: 5px 10px;
    margin: 10px 0;
}

.form-section div {
    margin: 5px;
}

.form-section div input {
    margin: 0 10px 0 0;
}

.form {
    max-width: 380px;
}

.address-input {
    display: flex;
}

.address-input label {
    margin: 0 4px 0 0;
}