body {
    font-size: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 40px;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header ul li {
    float: left;
}

header ul li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    padding: 16px;
}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    align-self: center;
    font-size: 3em;
    margin: 16px;
}

.brand {
    display: flex;
    flex-direction: column;
}

.brand h2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 8px;
    font-size: 2em;
}

.brand h2 img {
    padding-inline: 10px;
    height: 100%;
}

.brand a {
    align-self: center;
    color: black;
}

.history {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
}

.history h3 {
    align-self: center;
    font-size: 1.6em;
    margin: 6px;
}

.models {
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
}

.models h3 {
    align-self: center;
    font-size: 1.6em;
    margin: 6px;
}

.models h4 {
    font-size: 1.3em;
    margin: 16px 0px 6px 0px;
}

.models h5 {
    font-size: 1.3em;
    margin: 6px 0px 6px 0px;
}

hr {
    padding: 0;
    border: 1;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-inline: 0;
    width: 100%;
    align-self: center;
}

main hr {
    width: 70%;
}

footer {
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}