header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 40px;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header ul li {
    float: left;
}

header ul li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: xx-large;
    padding: 16px;
}