body {
    font-size: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Roboto Flex", sans-serif;
    align-items: center;
}

p {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 40px;
    width: 100%;
}

header img {
    width: 128px;
    padding-inline: 16px;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.brands-list {
    display: flex;
}

header ul li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    padding: 16px;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 80%;
}

h1 {
    align-self: center;
    font-size: 3em;
    margin: 16px;
}

.brand {
    display: flex;
    flex-direction: column;
}

.brand h2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 8px;
    font-size: 2em;
}

.brand h2 img {
    padding-right: 10px;
    width: 32px;
    height: 100%;
}

.link-top {
    margin: 8px 0 0 0;
    align-self: center;
    color: black;
}

.history {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
}

h3 {
    align-self: center;
    font-size: 1.6em;
    margin: 6px;
}

.models {
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
}

.models h4 {
    font-size: 1.3em;
    margin: 6px 0;
}

.models article {
    margin-bottom: 10px;
}

.reviews {
    display: flex;
    flex-direction: column;
}

.reviews-content {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

.reviews-content li {
    max-width: 23%;
    margin-inline: 10px;
}

hr {
    padding: 0;
    border: 1;
    margin: 8px 0;
    width: 100%;
    align-self: center;
}

main hr {
    width: 70%;
}

footer {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

address {
    font-style: normal;
}